# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment files
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Django migrations
# migrations/

# Static files
/static/
