# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment files
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Django migrations (Optional: You might want to keep migrations tracked for version control)
# /migrations/

# Static files
/static/

# Media files (Optional: You might want to keep media folder if you upload user files)
# /media/

# Other
*.swp
